body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.alltasks {
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100vw;
}

/* Main content styling */
.content {
    flex: 1; /* Allows main content to fill remaining space */
    padding: 20px;
    background-color: #f0f0f0;
    height: 100vh; /* Ensures the content fills the height */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 15px;
}

th {
    background-color: #a0a0a0;
    color: black;
}

.priority.low {
    background-color: #d6f5d6;
}

.priority.medium {
    background-color: #ffffcc;
}

.priority.high {
    background-color: #f5d6d6;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: white; /* Text color */
    background-color: #b0b0b0; /* Button color */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
  }

.all-edit-button {
    width: 25%; /* Full width for all buttons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Space above buttons */
    margin-right: 10px;
    padding: 10px;
    color: black; 
    background-color: rgba(241, 235, 173, 0.9);/* Text color */
    font-weight: bold;
}

.all-delete-button {
    width: 25%; /* Full width for all buttons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px; /* Space above buttons */
    padding: 10px;
    color: black; 
    background-color: rgba(232, 162, 162, 0.9);/* Text color */
    font-weight: bold;
}
  
.all-edit-button:hover {
    background-color: rgba(220, 211, 117, 0.9);
}

.all-delete-button:hover {
    background-color: rgba(220, 117, 117, 0.9);
}